<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Insert title here</title>
</head>


<body onload="conver()">
<lable >select movie:</lable><br/>
	<form id="myForm" action="booking1" method="get">
						<select name="moviechoosed"  id="mySelect" placeholder="請選擇"  onChange="autoSubmit();">
						<option>請選擇</option>
				<option th:each="Movie : ${movlist}"
					th:value="${Movie.id}" th:text="${Movie.name}"></option>
						</select>
						</form>
	<form id="myForm2" action="booking2" method="post" >
						<select name="moviechoosed2"  placeholder="請選擇" >
						<option>請選擇</option>
				<option th:each="screening : ${scr}"
					th:value="${screening.screening_id}" th:text="${screening.time}"></option>
						</select><br/>
						<input type="submit" value="Submit"></input>
						</form>
						<p id="test"></p>
						<script type="text/javascript" th:inline="javascript">
function autoSubmit(){
 document.getElementById("myForm").submit();
}
var movid = [[${movieid}]];

window.onload=about;
function about() {
	var movid = [[${movieid}]];
if(movid != null){
	
	mySelect.options[movid].selected="selected";
	}

	}
</script>
</body>
</html>