<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Insert title here</title>
	</head>
	<body><form action="seatchoosed">
		<table>
			<tr>
				<th>電影名稱</th>
				<th>場次</th>
				<th>影廳</th>
				<th>數量</th>
				<th>價格</th>
			</tr>
			<tr>
				<td th:text="${scrlist.name}"></td>
				<td th:text="${scrlist.time}"></td>
				<td ></td>
				<td><select id="mySelect" name="number">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				</select></td>
					<td id="total">220</td>
				</tr>
				</table>
				 <input type="submit" value="submit"></input>
				</form>
				
				<script>
				/*function myFunction() {
				var x = document.getElementById("mySelect");
				var i = x.selectedIndex;
				document.getElementById("total").innerHTML = x.options[i].text*220;
				};
				
				var num = [[${seatquantity}]];
				if(num>=4){
					num=4;
				};
				if(num==0){
					alert("目前所選場次已售罄");
					document.getElementById("back").action = "booking";
				};
				var myDiv = document.getElementById("myDiv");

				//Create and append select list
				var selectList = document.createElement("select");
				selectList.setAttribute("id", "mySelect");
				myDiv.appendChild(selectList);

				//Create and append the options
				for (var i = 0; i < num; i++) {
				    var option = document.createElement("option");
				    option.setAttribute("value", i);
				    option.text = i;
				    selectList.appendChild(option);
				};*/
				</script>
			</body>
		</html>