<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body onload="conver()">
<form action="seatchoosed">
		<table>
			<tr>
				<th>電影名稱</th>
				<th>場次</th>
				<th>影廳</th>
				<th>數量</th>
				<th>價格</th>
			</tr>
			<tr>
				<td th:text="${scrlist.name}"></td>
				<td th:text="${scrlist.time}"></td>
				<td ></td>
				<td><select name="number" id="mySelect" onchange="myFunction()">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				</select></td>
					<td id="total">220</td>
				</tr>
				</table>
				<p id="left"></p>
				 <input type="submit" value="submit"></input>
				</form>
				<script th:inline="javascript">
				function myFunction() {
					var num = [[${seatquantity}]];
					var x = document.getElementById("mySelect");
					var i = x.selectedIndex;
					document.getElementById("total").innerHTML = x.options[i].text*220;
					var ch=x.options[i].text;
					if(ch>num){
						alert("目前所選場次座位不足"+ch );
						document.getElementById("left").innerHTML="目前座位剩餘"+num;
						mySelect.options[0].selected="selected";
					}
					};
				window.onload=about;
					function about() {
					var num = [[${seatquantity}]];
					if(num == 0){
						alert("目前所選場次已售罄");
						window.history.back();
					};
				}
				</script>
</body>
</html>