<!DOCTYPE html>
<html>
<head>
<html lang="en" xmlns:th="http://www.thymeleaf.org"/>
<title>Insert title here</title>
</head>
<body>
<h1>完成訂購</h1>
<h1 th:text="${test}"></h1>
<form action="home">
<input type="submit" value="Submit"></input>
</form>
</body>
</html>