<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Insert title here</title>
</head>
<body>
<form action= "moviesearch" method= "post"><input autosave="unique" name="searchmovie" placeholder="電影搜尋..." results="5" type="search"></input>
<input type= "submit" value="submit"> </input></form>

<table>
  <tr>
  <th>編號</th>
  <th>電影名稱</th>
  <th>導演</th>
  <th>上映日期</th>
  <th></th>
 </tr>
    <tr th:each="Movie : ${movlist} " th:object="${Movie}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{director}"></td>
        <td th:text="*{releasedate}"></td>
    </tr>
</table>
</body>
</html>