<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<form name="formcheck" action="bookingdone">
						
	
	<input class="single-checkbox" type="checkbox" th:each="seat: ${seatlist}" th:value="${seat.seat_id}" th:text="${seat.seat_id}" name="seatchoose"></input>
	
						<input type="submit" value="Submit"></input>
</form>
<img th:src="${picture}" alt="room" height="420" width="420"></img>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:inline="javascript">

    var num = [[${number}]];
    var limit=num;
    $('input.single-checkbox').on('change', function(evt) {
    	   if($("input[name='seatchoose']:checked").length > limit) {
    	       this.checked = false;
    	       
    	   }
    	});
</script>
</body>
</html>