<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<table>
  <tr>
  <th>編號</th>
  <th>電影名稱</th>
  <th>導演</th>
  <th>上映日期</th>
  <th>是否上映</th>
 </tr>
    <tr th:each="Movie : ${movlist} " th:object="${Movie}">
        <td th:text="*{id}">1</td>
        <td th:text="*{name}">Ben</td>
        <td th:text="*{director}">Fu Jen</td>
        <td th:text="*{releasedate}">56</td>
        <td th:text="*{rele}" id="test">56</td>
        <td><form action="updatemovie"><input type="hidden" name="movieid" th:value="*{id}"></input><input type="submit" value="修改"/>
        </form>
        </td>
        <td><form action="deletemovie"><input type="hidden" name="movieid" th:value="*{id}"></input><input type="submit" value="刪除"/>
        </form></td>
        <td><form name="Form2" action="upload" method="post"  enctype="multipart/form-data"><input type="file" name="file"/>
<input type="submit" value="upload"/></form></td>
    </tr>
</table>
<a href="createmovie">新增電影</a>
</body>
</html>