<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
<table>
  <tr>
  <th>編號</th>
  <th>電影名稱</th>
  <th>導演</th>
  <th>上映日期</th>
  <th>是否上映</th>
 </tr>
    <tr th:each="Movie : ${movlist} " th:object="${Movie}">
        <td th:text="*{id}">1</td>
        <td th:text="*{name}">Ben</td>
        <td th:text="*{director}">Fu Jen</td>
        <td th:text="*{releasedate}">56</td>
        <td th:text="*{rele}" id="test">56</td>
        <td><form action="createscreening"><input type="hidden" name="movieid" th:value="*{id}"></input><input type="submit" value="新增場次"/>
        </form>
        </td>
    </tr>
</table>
<table>
  <tr>
  <th>電影編號</th>
  <th>場次時間</th>
  <th>電影名稱</th>
  <th>場次編號</th>
  <th>影廳</th>
 </tr>
 <tr th:each="screening : ${scrlist} " th:object="${screening}">
        <td th:text="*{movie_id}">1</td>
        <td th:text="*{time}">Ben</td>
        <td th:text="*{name}">Fu Jen</td>
        <td th:text="*{screening_id}">56</td>
        <td th:text="*{room}" id="test">56</td>
    </tr>
 </table>
<a href="createmovie">新增電影</a>

</body>
</html>