<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create New Customer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<a href="productCreate"><h2>新增產品</h2></a>
<form action="productRetrieveByCategory" method="post">
						<select name="productCategory" placeholder="產品類型">
							<option value="1">PC</option>
							<option value="2">laptop</option>
							<option value="3">tablet</option>
							<option value="4">smartphone</option>
							<option value="5">test5</option>
							<option value="6">test6</option>
							<option value="7">test7</option>
						</select>
						<input type="submit" value="Submit" class="btn btn-default" ></input>
						<a href="productRetrieveAll"><input
				type="button" value="Show All Books" /></a>
						</form>
						
						
<table class="table">
<thead>
  <tr>
  <th>編號</th>
  <th>產品名稱</th>
  <th>產品類型</th>
  <th>產品庫存量</th>
  <th>產品安全庫存量</th>
  <th>品牌</th>
  <th>製造日期</th>
  <th>製造商</th>
  <th>售價</th>
  <th></th>
 </tr>
 </thead>
 <tbody>
    <tr th:each="product : ${products} " th:object="${product}">
        <td th:text="*{id}">1</td>
        <td th:text="*{desc}">Ben</td>
        <td th:text="*{productCategory.type}">Fu Jen</td>
        <td th:text="*{inventory}">56</td>
        <td th:text="*{safeinventory}">56</td>
        <td th:text="*{brand}">56</td>
        <td th:text="*{createdate}">56</td>
        <td th:text="*{vendor}">56</td>
        <td th:text="*{price}">56</td>
       
        <td><a th:href="@{productUpdate(id=${product.id})}">修改</a> <a th:href="@{productDelete(id=${product.id})}">刪除</a></td>
    </tr>
    </tbody>
</table>
</div>

</body>
</html>