<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Create New Customer</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="jumbotron text-center">
			<h1 style="font-weight: bold;">產品新增完成</h1>
		</div>
		<div class="container well text-center">
			<lable style="font-weight: bold;">   describe: </lable><span th:text="${product.describe}"></span>
			<lable style="font-weight: bold;">   type: </lable><span th:text="${product.type}"></span>
			<lable style="font-weight: bold;">   invnetory: </lable><span th:text="${product.inventory}"></span>
			<lable style="font-weight: bold;">   safeinvnetory: </lable><span th:text="${product.safeinventory}"></span>
		</div>
	</body>
</html>